
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Home.cshtml";
}
<link href="~/Content/page.style/home-StyleSheet.css" rel="stylesheet" />

<section id="home_page">
    <img src="@Url.Content("~/Pictures/background1.jpg")" />
    <img src="@Url.Content("~/Pictures/background2.jpg")" />
    <img src="@Url.Content("~/Pictures/background3.jpg")" />
    <img src="@Url.Content("~/Pictures/background4.jpg")" />
    <img src="@Url.Content("~/Pictures/background5.jpg")" />
    <img src="@Url.Content("~/Pictures/background6.jpg")" />
</section>

